@model IEnumerable<AdoptPetProject.Models.User>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{

    

}



<section class="page-content">
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <h3>Giriş Yap</h3>
                    @{

                        if (ViewData["loginOK"] == "ok")
                        {


                            <div class="alert alert-success" id="newsletter-alert-success">
                                <strong>Başarılı!</strong> Giriş sağlandı, anasayfaya yönlendiriliyorsunuz...
                            </div>
                        }
                        else if (ViewData["loginOK"] == "error")
                        {
                            <div class="alert alert-danger" id="newsletter-alert-error">
                                <strong>Hata!</strong> @ViewData["loginError"]
                            </div>
                        }
                    }
                    <form asp-controller="Login" asp-action="Index" method="POST" role="form">
                        <div class="form-group">
                            <label>Kullanıcı Adı <span class="required">*</span></label>
                            <input type="text" name="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <div class="clearfix">
                                <label class="pull-left">
                                    Şifre <span class="required">*</span>
                                </label>
                                <!--											<span class="pull-right"><a href="#">Lost password?</a></span>-->
                            </div>
                            <input type="password" name="password"  class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary btn-inline">Giriş Yap</button>&nbsp; &nbsp; &nbsp;
                        <label for="remember" class="checkbox-inline">
                            <input type="checkbox" name="remember" id="remember"> Beni Hatırla
                        </label>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="spacer-lg visible-sm visible-xs"></div>
                <div class="box">
                    <h3>Kayıt Ol</h3>
                    @{

                        if (ViewData["registerOK"] == "ok")
                        {


                            <div class="alert alert-success" id="newsletter-alert-success">
                                <strong>Başarılı!</strong> Kayıt olundu giriş yapabilirsin.
                            </div>
                        }
                        else if (ViewData["registerOK"] == "error")
                        {
                            <div class="alert alert-danger" id="newsletter-alert-error">
                                <strong>Hata!</strong> @ViewData["hata"]
                            </div>
                        }
                    }
                <form asp-controller="Login" asp-action="Index" method="POST" role="form">
                    <div class="form-group">
                        <label>İsim <span class="required">*</span></label>
                        <input type="text" name="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Kullanıcı Adı <span class="required">*</span></label>
                        <input type="text" name="username" class="form-control">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Şifre <span class="required">*</span>
                                </label>
                                <input name="password" type="password" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Şifreyi Doğrula <span class="required">*</span>
                                </label>
                                <input type="password" name="again" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Telefon <span class="required">*</span></label>
                        <input type="text" name="phone" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Kayıt Ol</button>
                </form>
                </div>
            </div>
        </div>

    </div>
</section>
