
@{
}

<!DOCTYPE html>
<!--[if IE 7]>                  <html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->
<head>

	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<title>About Us | PetSitter Responsive HTML5/CSS3 Template</title>
	<meta name="description" content="PetSitter - Responsive HTML5 Template - 1.0">
	<meta name="author" content="http://themeforest.net/user/dan_fisher">


	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
	
	<!-- Google Web Fonts
	================================================== -->
	<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic%7CBitter:700' rel='stylesheet' type='text/css'>
	
	<!-- CSS
	================================================== -->
   <!-- Base + Vendors CSS -->
   <link rel="stylesheet" href="~/css/bootstrap.min.css">
   <link rel="stylesheet" href="~/css/fonts/font-awesome/css/font-awesome.css">
   <link rel="stylesheet" href="~/css/fonts/entypo/css/entypo.css">
   <link rel="stylesheet" href="~/vendor/owl-carousel/owl.carousel.css" media="screen">
	<link rel="stylesheet" href="~/vendor/owl-carousel/owl.theme.css" media="screen">
	<link rel="stylesheet" href="~/vendor/magnific-popup/magnific-popup.css" media="screen">

   <!-- Theme CSS-->
   <link rel="stylesheet" href="~/css/theme.css">
	<link rel="stylesheet" href="~/css/theme-elements.css">
   <link rel="stylesheet" href="~/css/animate.min.css">

   

   <!-- Head Libs -->
	<script src="~/vendor/modernizr.js"></script>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="~/vendor/respond.min.js"></script>
	<![endif]-->

	<!--[if IE]>
		<link rel="stylesheet" href="~/css/ie.css">
	<![endif]-->
	
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="~/images/favicon.ico">
	<link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="~/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="~/images/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="~/images/apple-touch-icon-144x144.png">
	
</head>
<body>

	<div class="site-wrapper">

		<!-- Header -->
	
		<!-- Header / End -->


		<!-- Main -->
		<div class="main" role="main">

			<!-- Page Heading -->
			<section class="page-heading">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<h1>About Us</h1>
						</div>
						<div class="col-md-6">
							<ul class="breadcrumb">
								<li><a href="index.html">Home</a></li>
								<li><a href="#">Pages</a></li>
								<li class="active">About Us</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- Page Heading / End -->

			<!-- Page Content -->
			<section class="page-content">
				<div class="container">
					
					<div class="row">
						<div class="col-md-6">
							<figure class="alignnone">
								<img src="~/images/samples/img3.jpg" alt="">
							</figure>
						</div>
						<div class="col-md-6">
							<h2>Karşınızda AdoptPet</h2>
							<p>Hayvan Sahiplendirme İlanları olarak,  hayvanların sahiplenilmesi için çalışmak bizim için mükemmel bir keyiftir. Hayvan sahiplendirme, hayvanların kötü durumlardan kurtulmasının yanı sıra üyelerimize hayatlarının herhangi bir döneminde hayvan sevgisi, sorumluluk ve sevgi ile dolu anlar yaşama fırsatını sunmaktadır.</p>
							<p>Biz, sahiplenilmeyi bekleyen köpekler, kediler, tavşanlar ve diğer tüm evcil hayvanlar için yardım etmeyi kendimize görev edinmişiz. Sahiplenilmeyi bekleyen hayvanların üyelerimiz tarafından keşfedilmesini, en iyi evleri bulmalarına yardımcı olmak da önceliğimizdir.
							</p>
							<p>
								Sahiplendirme başvurularını kontrol etmek, hayvanların güvenli ve iyi sahiplenilmesi için gerekli adımları atmak ve sahipleriyle hayvanlarının ilişkilerini güçlendirmek bizim için son derece önemlidir. Biz, sahiplendirmeyi kolaylaştırmak ve hayvanların hayatlarının iyileştirilmesine yardımcı olmak için ekibimizle birlikte sürekli olarak çalışıyoruz.Tüm bu çalışmalarımızın temelinde, hayvanların ve insanların hayatlarının daha iyi olması için çalışıyoruz. Topluma karşı sorumlu hareket etmekte kararlıyız ve en iyi hayatlarını yaşamaları için çaba sarf ediyoruz.
							</p>
							
							
							<div class="spacer-sm"></div>
							
							<a asp-controller="Pet" asp-action="Index" class="btn btn-success">Ücretsiz İlan Ekle</a>
						</div>
					</div>

					


					

					<hr class="lg">

					

				</div>
			</section>
			<!-- Page Content / End -->

			
			
		</div>
		<!-- Main / End -->
	</div>
	
	
	
	
	
	<!-- Javascript Files
	================================================== -->
	<script src="~/vendor/jquery-1.11.0.min.js"></script>
	<script src="~/vendor/jquery-migrate-1.2.1.min.js"></script>
	<script src="~/vendor/bootstrap.js"></script>
	<script src="~/vendor/jquery.flexnav.min.js"></script>
	<script src="~/vendor/jquery.hoverIntent.minified.js"></script>
	<script src="~/vendor/jquery.flickrfeed.js"></script>
	<script src="~/vendor/isotope/jquery.isotope.min.js"></script>
	<script src="~/vendor/isotope/jquery.isotope.sloppy-masonry.min.js"></script>
	<script src="~/vendor/isotope/jquery.imagesloaded.min.js"></script>
	<script src="~/vendor/magnific-popup/jquery.magnific-popup.js"></script>
	<script src="~/vendor/owl-carousel/owl.carousel.min.js"></script>
	<script src="~/vendor/jquery.fitvids.js"></script>
	<script src="~/vendor/jquery.appear.js"></script>
	<script src="~/vendor/jquery.stellar.min.js"></script>

	<!-- Newsletter Form -->
	<script src="~/vendor/jquery.validate.js"></script>
	<script src="~/js/newsletter.js"></script>

	<script src="~/js/custom.js"></script>


	
<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-49851325-1', 'dan-fisher.com');
		ga('send', 'pageview');
	</script>
	
</body>
</html>
